.tags-list {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.cc-tag,
.cc-tag-filter {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: black;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0.3rem !important;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    font-size: 0.8rem;
}

.cc-tag-filter {
    cursor: pointer;
}

.cc-tag::before,
.cc-tag-filter::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}

.cc-tag::after,
.cc-tag-filter::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}

.cc-tag-filter:hover,
.tag-selected {
    background-color: crimson;
    color: white;
}

.cc-tag-filter:hover::after,
.tag-selected:after {
    border-left-color: crimson;
}

.player-wrapper {
    margin-top: 2rem;
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.cc-player {
    position: absolute;
    top: 0;
    left: 0;
}

/* Menu */

@media screen and (min-width: 70em) {
    li.top-nav-item-cc + li.top-nav-item-cc {
        -webkit-margin-start: 0.25rem;
        margin-inline-start: 0.25rem;
    }
}
.global-nav__inner .top-nav-item-cc {
    border-bottom: solid 1px #bdbdbd;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}
@media screen and (min-width: 70em) {
    .global-nav__inner .top-nav-item-cc {
        border-bottom: none;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
}
.global-nav__inner .top-nav-item-cc > .nav-link {
    font-weight: 600;
}
@media screen and (min-width: 70em) {
    .global-nav__inner .top-nav-item-cc > *:first-child {
        font-size: 1rem;
        height: 100%;
        padding: 0.625rem 0.3125rem 0.4375rem !important;
        position: relative;
        white-space: nowrap;
    }
    .global-nav__inner .top-nav-item-cc > *:first-child::before {
        background-color: #005a9c;
        bottom: -0.125rem;
        content: '';
        display: none;
        height: 0.1875rem;
        left: 0;
        position: absolute;
        width: 100%;
    }
    .global-nav__inner .top-nav-item-cc > *:first-child:hover::before {
        display: block;
    }
    .global-nav__inner .top-nav-item-cc > *:first-child:focus {
        background-color: #f9dc4a;
        background-image: linear-gradient(to top, #000 3px, #f9dc4a 3px, #f9dc4a);
        color: #000;
    }
    .global-nav__inner .top-nav-item-cc > *:first-child:focus:hover::before {
        display: none;
    }

    .global-nav__inner .selected > *:first-child::before {
        background-color: #005a9c;
        bottom: -0.125rem;
        content: '';
        display: block;
        height: 0.1875rem;
        left: 0;
        position: absolute;
        width: 100%;
    }
}

.logo-selected::before {
    background-color: #005a9c;
    bottom: -0.125rem;
    content: '';
    display: block;
    height: 0.1875rem;
    left: 0;
    position: absolute;
    width: 100%;
}
