name: E2E on Firefox
on:
    push:
        branches:
            - main
        paths-ignore:
            - '**/README.md'
jobs:
    cypress-run:
        runs-on: ubuntu-latest
        container:
            image: cypress/browsers:node14.17.0-chrome88-ff89
            options: --user 1001
        name: E2E on Firefox
        steps:
            - uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: '14'
            - name: Install deps and build
              run: |
                  npm install
                  npm run build
            - uses: cypress-io/github-action@v2
              with:
                  browser: firefox
                  start: npm start
                  # quote the url to be safe against YML parsing surprises
                  wait-on: 'http://localhost:3111'
              env:
                  PORT: 3111
